* {
    font-family: Monospace;
    margin: 0;
    padding: 0;
}


section{
    width: 100%;
    height: calc(100vh - 80px);
    padding-top: 80px;
}

main {
    background-color: #3D6B35;
    width:100%; 
    height:80px;
    position: fixed;
    top:0;
    z-index: 1000;
    color:#FDF3E7; 
    font-size: 20px;
    margin-left:auto;
}

.navdiv{
    margin:0 20px;
    padding: 25px;
}

#navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu{
    display:none;
}

main ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    margin: 0;
    padding: 0;
    list-style:none;
}

ul a{
    text-decoration: none;
    color: #FDF3E7;
}

ul a:hover{
    text-decoration:underline;
    color: #E68A00;
}

.somelink{
    display: flex;
    justify-content: space-between;
    gap:10px;
}

main img{
    height:20px;
    width: auto;
}

header{
    font-weight: 700;
}

#home {
    background-color:#FDF3E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homecontent {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: rgba(61, 107, 53, 0.5);
    border-radius: 8px;
    width: 90%;
    max-width: 900px;
}


.hometitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Papyrus;
    font-size: 4rem;
    color: #333333;
    transition: color 0.3s ease-in-out;
}

.hometitle:hover {
    background: linear-gradient(45deg, #F3B700, #E68A00, #3D6B35);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
}

#aboutme {
    background: #8F9B37;
    color: #333333;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.aboutimg {
    width: 30%;
    height: auto;
    border-radius: 8px;
}

.aboutimg img{
    width:100%;
    height: auto;
    border-radius: 10px;
}

.abouttext {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: -40px;
    text-align: justify;
}

.about {
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin: 20px 120px;
}

.abouttext h2{
    font-size: 2rem;
    line-height: 2.0;
}

.abouttext p{
    font-size: 20px;
    line-height: 1.8;
    margin-top: 20px;
}

#aboutme header{
    margin-top: 20px;
}

#projects {
    background: linear-gradient(to bottom,#FDF3E7 55%,#7C9C68 45%) ;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.projectsintro{
    margin: 10px 30px;
    text-align: justify;
}

.projectsintro h2{
    color: #333333;
    line-height: 1.6;
    
}
.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 30px 40px;
}

.project-box h2 {
    color: #3D6B35;
    font-size: 2rem;
    margin: 10px;
}

.imgcontainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.projectimg{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectimg {
    width: 100%;
    border-radius: 8px;
}

#projects .description{
    color: #333333;
    margin: 10px;
    font-weight: 600;
}

#skills {
    background: #FDF3E7;
    color: #333333;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#skills header{
    margin-top: 20px;
}

.skillboard {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 120px;
}

.skillbox {
    width:45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 15px #E68A00;
    padding: 30px 20px;
    text-align: center;
}

.skilltitle {
    font-size: 1.5rem;
    color: #3D6B35;
    margin: 20px auto;
}

.skillcontent h3 {
    font-size: 1.2rem;
    color: #3D6B35;
    margin: 20px auto;
}

#resume {
    background-color: #7C9C68;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#resume header{
    margin-top: 20px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
  
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #FDF3E7;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -30px;
    background-color: #FDF3E7;
    border: 4px solid #F3B700;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
.left {
    left: -93px;
}
  
.right {
    left: 50%;
}
  
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #FDF3E7;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #FDF3E7;
}
  
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #FDF3E7;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FDF3E7 transparent transparent;
}
  
.right::after {
    left: -16px;
}
  
.content {
    padding: 20px 30px;
    background-color: #FDF3E7;
    position: relative;
    border-radius: 6px;
}
  
.button button {
    background-color: #F3B700;
    width: 326px;
    height: 68px;
    margin: 30px auto;
    padding: 20px 50px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color:#FDF3E7;
    cursor:pointer;
    transition: background-color 0.2s ease;
}

.button button:hover{
    background-color: #E68A00;
    box-shadow:0 0 0 3px #F3B700;
}


@media screen and (max-width: 600px) {
    
    .navdiv ul, .somelink{
        display: none;
    }

    .menu{
        display:block;
        background-color:transparent;
        color: #FDF3E7;
        cursor:pointer;
        border:none;
        outline:none;
        font-size:48px;
        padding:0;
        margin:0;
        position:absolute;
        top:5px;
        right:15px;
    }

    .homecontent {
        width: 90%;
        max-width: 600px;
        margin:0 20px;
        padding: 20px;
    }
    
    .hometitle {
        font-size: 40px;
    }

    #aboutme{
        padding: 20px 0;
    }

    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 30px;
    }

    .aboutimg{
        width: 70%;
    }

    .abouttext{
        width: 100%;
        margin:0;
    }

    .abouttext h2{
        font-size: 20px;
        line-height: 1.2;
    }

    .abouttext p{
        font-size: 15px;
        line-height: 1.2;

    }

    #projects{
        background: linear-gradient(to bottom,#FDF3E7 50%,#7C9C68 50%) ;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
    }

    .projectsintro h2, .project-box h2{
        font-size: 18px;
    }

    #skills {
        padding: 20px 0;
        
    }

    .skillboard {
        margin: 10px 50px;
    }

    .skillbox{
        width: 100%;
    }

    .svgicon svg{
        width: 60px;
        height: 60px;
    }

    .skilltitle {
        font-size: 15px;
        margin: 10px auto
    }

    .skillcontent h3 {
        font-size: 12px;
        margin: 10px auto;
    }


    .timeline::after {
        left: 31px;
    }

    .left {
        left: 0;
    }

    .container {
      width: 80%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .container::before {
      left: 60px;
      border: medium solid #FDF3E7;
      border-width: 10px 10px 10px 0;
      border-color: transparent #FDF3E7 transparent transparent;
    }
  
    .left::after, .right::after {
      left: 15px;
    }
  
    .right {
      left: 0%;
    }


}